# Number of quests that can be in progress at a time
questLimit: 5

# When a quest is completed a leader board message is broadcast. Chose the maximum number of players to be displayed.
# If this is set to 0 then the leader board message will be omitted.
leaderBoardSize: 5

# See color options here: https://hub.spigotmc.org/javadocs/spigot/org/bukkit/boss/BarColor.html
barColor: "GREEN"

disableBossBar: false

# Material used in the donate quest menu.
donateMenuItem: OBSIDIAN

Quests:
#    TestQuest: # Quest identifier can be whatever you'd like as long as it's unique
#        displayName: "&c&lZombie Pig Slayer"
#        type: mobkill # required, see type list for available types
#        entities: # This is an optional parameter, if it doesn't exist the quest will count all mob kills. entity reference: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html
#            - Zombie
#            - Pig
#        description: "&fKill 5 zombies as fast as you can!"
#        goal: 5 # The goal is the amount of the task to be completed
#        rewards:
#            experience: 100z
#            money: 1000 # You must have Vault and an Economy plugin installed for this to work
#            items:
#                -   material: DIAMOND_SWORD
#                    amount: 1
#                    displayName: "&bPowerful Diamond Sword"
#                -   material: APPLE
#                    amount: 12
#                    displayName: "&capples"
